In [4]:
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import numpy as np

In [5]:
# database_path = 'postgresql://postgres:postgres@localhost/Employees'
# engine = create_engine("sqlite:///{database_path}")
# conn = engine.connect()

engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost/mls_db')
connection = engine.connect()

In [6]:
highest_player_salary = pd.read_sql('SELECT * FROM sorted_highest_paid_player_by_club', connection)
highest_player_salary

,club_id,club,first,last,guaranteed_compensation
0,9.0,LA Galaxy,Zlatan,Ibrahimovic,7200000.00
1,23.0,Toronto FC,Michael,Bradley,6500000.00
2,10.0,LAFC,Carlos,Vela,6300000.00
3,2.0,Chicago Fire,Bastian,Schweinsteiger,5600000.04
4,12.0,Montreal Impact,Ignacio,Piatti,4443333.37
5,5.0,DC United,Wayne,Rooney,3507500.04
6,1.0,Atlanta United,Josef,Martinez,3058333.33
7,18.0,Portland Timbers,Sebastian,Blanco,2853341.33
8,21.0,Seattle Sounders FC,Nicolas,Lodeiro,2502500.04
9,16.0,Orlando City SC,NaN,Nani,2486249.70
10,3.0,Colorado Rapids,Tim,Howard,2475000.04
11,13.0,New England Revolution,Carles,Gil,2337500.00
12,17.0,Philadelphia Union,Marco,Fabian,2274087.24
13,19.0,Real Salt Lake,Albert,Rusnak,2001666.67
14,9.0,LA Galaxy,Jonathan,dos Santos,2000000.04
15,14.0,New York City FC,Maxi,Moralez,2000000.04
16,6.0,FC Cincinnati,Fanendo,Adi,1965008.00
17,11.0,Minnesota United,Darwin,Quintero,1750000.08
18,22.0,Sporting Kansas City,Felipe,Gutierrez,1649999.96
19,20.0,San Jose Earthquakes,"Valeri ""Vako""",Qazaishvili,1604042.36
20,4.0,Columbus Crew,Gyasi,Zardes,1471666.64
21,15.0,New York Red Bulls,Bradley,Wright-Phillips,1380000.00
22,24.0,Vancouver Whitecaps,Ali,Adnan,1277499.90
23,8.0,Houston Dynamo,Mauro,Manotas,1245049.96
24,7.0,FC Dallas,Reto,Ziegler,870000.08

In [53]:
percent_wins = pd.read_sql('SELECT * FROM percent_wins', connection)
percent_wins.rename(columns={"id": "club_id"}, inplace=True)
percent_wins

    club_id                    Club  % Wins
0        10                    LAFC   0.712
1         1          Atlanta United   0.563
2        14        New York City FC   0.621
3        19          Real Salt Lake   0.508
4        17      Philadelphia Union   0.525
5        21     Seattle Sounders FC   0.533
6         9               LA Galaxy   0.492
7        11        Minnesota United   0.500
8        18        Portland Timbers   0.459
9        15      New York Red Bulls   0.452
10       23              Toronto FC   0.456
11        5               DC United   0.456
12        7               FC Dallas   0.441
13       20    San Jose Earthquakes   0.413
14        8          Houston Dynamo   0.375
15       12         Montreal Impact   0.381
16        3         Colorado Rapids   0.387
17       13  New England Revolution   0.393
18       22    Sporting Kansas City   0.333
19        4           Columbus Crew   0.333
20        2            Chicago Fire   0.357
21       16         Orlando City SC   0.310
22       24     Vancouver Whitecaps   0.276
23        6           FC Cincinnati   0.194

In [8]:
# goals = pd.read_sql('SELECT * FROM player_goals', connection)
# goals
# goal_stats = pd.read_sql('SELECT * FROM stats', connection)
# goal_stats

In [9]:
team_payroll = pd.read_sql('SELECT * FROM team_payroll', connection)
team_payroll

    club_id                    club  Roster Payroll
0      23.0              Toronto FC     24267066.18
1       9.0               LA Galaxy     19636979.69
2       2.0            Chicago Fire     17114980.99
3      10.0                    LAFC     13769951.28
4      21.0     Seattle Sounders FC     13678414.29
5      12.0         Montreal Impact     13152273.71
6       1.0          Atlanta United     12957118.93
7      16.0         Orlando City SC     12573226.29
8      18.0        Portland Timbers     12553916.46
9      22.0    Sporting Kansas City     12070675.60
10     19.0          Real Salt Lake     11117788.60
11     11.0        Minnesota United     10632485.61
12     20.0    San Jose Earthquakes     10619980.43
13      4.0           Columbus Crew     10614613.28
14     13.0  New England Revolution     10608217.28
15     14.0        New York City FC     10415586.82
16      5.0               DC United     10195277.26
17     17.0      Philadelphia Union      9854738.30
18      6.0           FC Cincinnati      9564914.01
19      7.0               FC Dallas      8807319.09
20      8.0          Houston Dynamo      8744849.28
21     15.0      New York Red Bulls      8668933.79
22      3.0         Colorado Rapids      8599994.41
23     24.0     Vancouver Whitecaps      8152129.65

In [60]:
summary = pd.read_sql('SELECT * FROM club_summary_stats', connection)
summary

,club_id,club,Goals_For,Goals_Against,Largest Salary,Roster Payroll,Mean Salary,% Wins
0,14.0,New York City FC,63.0,42.0,2000000.04,10415586.82,10415586.82,0.621
1,1.0,Atlanta United,58.0,43.0,3058333.33,12957118.93,12957118.93,0.563
2,17.0,Philadelphia Union,58.0,50.0,2274087.24,9854738.30,9854738.30,0.525
3,23.0,Toronto FC,57.0,52.0,6500000.00,24267066.18,24267066.18,0.456
4,5.0,DC United,42.0,38.0,3507500.04,10195277.26,10195277.26,0.456
5,15.0,New York Red Bulls,53.0,51.0,1380000.00,8668933.79,8668933.79,0.452
6,13.0,New England Revolution,50.0,57.0,2337500.00,10608217.28,10608217.28,0.393
7,2.0,Chicago Fire,55.0,47.0,5600000.04,17114980.99,17114980.99,0.357
8,12.0,Montreal Impact,47.0,60.0,4443333.37,13152273.71,13152273.71,0.381
9,4.0,Columbus Crew,39.0,47.0,1471666.64,10614613.28,10614613.28,0.333
10,16.0,Orlando City SC,44.0,52.0,2486249.70,12573226.29,12573226.29,0.310
11,6.0,FC Cincinnati,31.0,75.0,1965008.00,9564914.01,9564914.01,0.194
12,10.0,LAFC,85.0,37.0,6300000.00,13769951.28,13769951.28,0.712
13,21.0,Seattle Sounders FC,52.0,49.0,2502500.04,13678414.29,13678414.29,0.533
14,19.0,Real Salt Lake,46.0,41.0,2001666.67,11117788.60,11117788.60,0.508
15,11.0,Minnesota United,52.0,43.0,1750000.08,10632485.61,10632485.61,0.500
16,9.0,LA Galaxy,58.0,59.0,7200000.00,19636979.69,19636979.69,0.492
17,9.0,LA Galaxy,58.0,59.0,2000000.04,19636979.69,19636979.69,0.492
18,18.0,Portland Timbers,52.0,49.0,2853341.33,12553916.46,12553916.46,0.459
19,7.0,FC Dallas,54.0,46.0,870000.08,8807319.09,8807319.09,0.441
20,20.0,San Jose Earthquakes,52.0,55.0,1604042.36,10619980.43,10619980.43,0.413
21,3.0,Colorado Rapids,58.0,63.0,2475000.04,8599994.41,8599994.41,0.387
22,8.0,Houston Dynamo,49.0,59.0,1245049.96,8744849.28,8744849.28,0.375
23,22.0,Sporting Kansas City,49.0,67.0,1649999.96,12070675.60,12070675.60,0.333
24,24.0,Vancouver Whitecaps,37.0,59.0,1277499.90,8152129.65,8152129.65,0.276